<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.st.dao.yk.TUsersMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zl.st.pojo.TUsers">
        <id column="userid" property="userid" />
        <result column="loginname" property="loginname" />
        <result column="loginpwd" property="loginpwd" />
        <result column="phone" property="phone" />
        <result column="realname" property="realname" />
        <result column="suppid" property="suppid" />
        <result column="purid" property="purid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userid, loginname, loginpwd, phone, realname, suppid, purid
    </sql>

</mapper>
